<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Eventures</title>
    <link rel="stylesheet" type="text/css" href="~/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg eventures-bg-color">
                <a class="navbar-brand nav-link-white eventures-bg-color font-weight-bold" href="/">Eventures</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link nav-link-white eventures-bg-color font-weight-bold" href="/">Home</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-link-white eventures-bg-color font-weight-bold" asp-action="All" asp-controller="Events">All Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-white eventures-bg-color font-weight-bold" asp-action="MyEvents" asp-controller="Events">My Events</a>
                            </li>
                            if (this.User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link nav-link-white eventures-bg-color font-weight-bold" asp-action="Create" asp-controller="Events">Create Event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link nav-link-white eventures-bg-color font-weight-bold" asp-action="All" asp-controller="Orders">All Orders</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <label class="nav-link nav-link-white eventures-bg-color font-weight-bold">Hello, @this.User.Identity.Name!</label>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Users" asp-action="Logout" class="nav-link nav-link-white eventures-bg-color font-weight-bold">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Users" asp-action="Login" class="nav-link nav-link-white eventures-bg-color font-weight-bold">Login</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Users" asp-action="Register" class="nav-link nav-link-white eventures-bg-color font-weight-bold">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer style="position: fixed">
            <div class="container-fluid eventures-bg-color">
                <div class="text-dark p-4 text-center">
                    &copy; CopyRight Eventures Inc. 2018-2018. All Rights Reserved.
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

@section Scripts
{ 
    <partial name="_ValidationScriptsPartial" />
}